*{
     font-family: "Open Sans", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-ul{
    
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    color: rgb(69, 68, 68);
}
nav button{
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    background-color: #1D4ED8 ;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.banner{
    text-align: center;
    margin-top: 20px;
    background-image: url(./images/banner.jpg);
    color: white;
    background-repeat: no-repeat;
    height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-text{
    color: white;
    margin-bottom: 300px;
    
}
.banner-text h1{
    font-size: 60px;}
    .btn button{
    padding: 20px 60px;
    border: none;
    border-radius: 10px;
    background-color: #1D4ED8 ;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
    .banner-text p{
        width:550px;
        margin: auto;
    }